streamlit
google-genai
chromadb
sentence-transformers
pypdf
python-dotenv
langchain-community
langchain-huggingface
fpdf2
gtts
streamlit-mic-recorder
ollama

chromadb==0.5.5
protobuf==3.20.3
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0